{% extends 'main.html' %}
{% load static %}
{% block main %}
    <section class="about">
        <div class="about-me">
            <h1>About me</h1>
            <p><img src="{% static 'images/about.jpg' %}" alt="Burcu Atak's own portrait" class="about-photo">
                I am <em>Burcu ATAK</em>, photography enthusiast and avid traveler based in Ankara, Turkey. <br> <br>
                I started off with film photography in 2003 but I could not pursue. During a trip I made to Syria and
                Jordan in 2006, my interest in photography was revived and afterwards I had new experiences in different
                photography genres; especially on street, travel, portrait and still life photography. <br> <br>
                On the other hand, I have been working as software engineer for more than 15 years. <br>
                In my free time from work, I enjoy long distance running, cycling and interior design.
            </p>
        </div>
    </section>
{% endblock %}