{% extends 'main.html' %}
{% load static %}
{% block main %}
    <section class="about">
        <div class="about-me">
            <h1>About me</h1>
            <p><img src="{% static 'images/about.jpg' %}" alt="Burcu Atak" class="about-photo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at consequatur cum
                dolores illum
                in natus,
                necessitatibus optio quasi tempore. Ad aperiam cupiditate deleniti esse, fuga illum ipsum iure labore
                nam
                quas saepe similique, ullam, vitae. Accusamus deleniti eius id nam tempora vel veniam. Aliquam aliquid
                animi
                ea eveniet harum id impedit ipsam ipsum, nam obcaecati tempora voluptatum. Animi asperiores aspernatur
                beatae, commodi culpa et eveniet expedita fugit hic inventore, iste iure laudantium molestiae molestias
                officiis perferendis porro quasi quia quisquam, ratione repudiandae sapiente tenetur ullam? Adipisci
                alias
                architecto autem blanditiis cupiditate delectus ea error ex facilis fugiat laudantium magnam modi natus
                nesciunt nobis optio porro ratione sapiente vitae, voluptatibus.
            </p>
        </div>
    </section>
{% endblock %}