{% extends 'main.html' %}
{% load static %}
{% block meta-description %}Burcu Atak's social media links and e-mail form page.{% endblock %}
{% block meta-title %}Contact Burcu Atak{% endblock %}
{% block main %}
    <h1 class="contact-title">Contact...</h1>
    <div class="card-box">
        <section class="media-card">
            <h2>Other Mediums</h2>
            <div class="socials">
                <a href="https://www.twitter.com" target="_blank">
                    <img role="img"
                         alt="twitter button icon"
                         class="social-icon"
                         src="{% static 'icons/social-twitter.svg' %}"> </a>
                <a href="https://www.facebook.com/burcu.atak.589" target="_blank">
                    <img role="img"
                         alt="facebook button icon"
                         class="social-icon"
                         src="{% static 'icons/social-facebook.svg' %}"></a>
                <a href="https://www.instagram.com/burcu__atak/" target="_blank">
                    <img role="img"
                         alt="instagram button icon"
                         class="social-icon"
                         src="{% static 'icons/social-instagram.svg' %}"></a>
                <a href="https://www.linkedin.com/in/burcu-atak-115814232/" target="_blank">
                    <img role="img"
                         alt="linkedin button icon"
                         class="social-icon"
                         src="{% static 'icons/social-linkedin.svg' %}"></a>
            </div>
        </section>

        <section class="email-card">
            <h2>Email Me...</h2>
            <form method="POST" class="form-group" id="email-form">
                {% csrf_token %}
                <input type="text" name="name" id="name" required placeholder="Type your name...">
                <input type="email" name="email" id="email" placeholder="example@mail.com" required>
                <textarea rows="8" name="message" id="message" required placeholder="Your message..."></textarea>
                <div class="captcha">
                    <label for="captcha"><span class="num1">{{ num1 }}</span> + <span class="num2">{{ num2 }}</span> =
                    </label>
                    <input type="text" id="captcha" name="captcha" required>
                </div>
                <input class="btn btn-submit" type="submit" value="Send" id="contact-submit">
            </form>
        </section>
    </div>
{% endblock %}