{% extends 'main.html' %}
{% load static %}
{% block meta-description %}Burcu Atak's personal photography portfolio website. You will find Burcu Atak's travel,
    street, portrait and still life photography works in this web site.{% endblock %}
{% block meta-title %}Burcu Atak Photography Portfolio{% endblock %}
{% block main %}
    <section class="hero">
        <div class="greeting">
            <h1 class="greeting-title">Welcome to Burcu Atak's Photography Portfolio Web Site</h1>
            <p>
                <em>Welcome!</em>
                <br>
                I share my photos that I have compiled especially from my travels and other works on my website. <br>
                Hope you like my collection...
            </p>
            <a href="{% url 'base:portfolio' %}" class="btn btn-greeting">Explore
                <img role="img" alt="Button arrow icon" class="arrow arrow-right" src=
                        "{% static 'icons/arrow-right.svg' %}">
            </a>
        </div>

        <div class="hero-photo">
            <img src="{% static 'images/burcu.png' %}" alt="Burcu Atak's own photo on desert.">
        </div>
    </section>
{% endblock %}