{% extends 'main.html' %}
{% load static %}
{% block meta-keywords %}Burcu Atak, portfolio, photography, portfolyo, fotoğraf{% endblock %}
{% block meta-description %}You may reach Burcu Atak's photography works and archive from this page.{% endblock %}
{% block meta-title %}Burcu Atak's photography portofolio works page.{% endblock %}
{% block main %}
    {% if project_list %}
        <div class="swiper portfolio">
            <div class="swiper-wrapper">
                {% for object in object_list %}
                    <div class="swiper-slide">
                        <div class="card">
                            <a class="title-link" href="{% url 'base:portfolio_detail' object.slug %}"><h2
                                    class="card-title"
                            >{{ object.title }}</h2></a>
                            <img onclick="window.location.href='{% url 'base:portfolio_detail' object.slug %}'"
                                 src="{{ object.featured_photo.url }}" alt=
                                         "{{ object.alt }}">
                            <a href="{% url 'base:portfolio_detail' object.slug %}" class="btn btn-card">Read
                                more... </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% endif %}
{% endblock %}