{% extends 'main.html' %}
{% load static cache %}
{% block meta-description %}{% if project.meta_description %}{{ project.meta_description }}{% else %}{{ project.slug }}
{% endif %}{% endblock %}
{% block meta-title %}{% if project.meta_title %}{{ project.meta_title }}{% else %}{{ project.slug }}
{% endif %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/slider.css' %}"/>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'script/slider.js' %}"></script>
{% endblock %}
{% block main %}
    {% cache 900 portfolio_detail_main project.slug %}
        <section class="project">
            <a href="#top" class="btn btn-up"><img role="img" class="arrow arrow-up"
                                                   src="{% static 'icons/arrow-up-short.svg' %}"></a>
            <a href="{% url 'base:portfolio' %}" class="btn btn-back"><img role="img" class="arrow arrow-left" src=
                    "{% static 'icons/arrow-left.svg' %}">Back</a>
            <h1 id="project-title" class="project-title"><em>{{ project.title }}</em></h1>
            <div class="photo-flow">
                {% for portfolio in project.projectportfolio_set.all %}
                    <img data-photoIndex="{{ forloop.counter }}" class="photo-flow-img" src="{{ portfolio.photo.url }}"
                         alt="{{ portfolio.alt }}">
                {% endfor %}
            </div>
        </section>
    {% endcache %}
{% endblock %}

{% block photo_zoom %}

    {% cache 900 portfolio_detail_zoom project.slug %}
        <div class="slider photo-zoom">
            <button href="" class="btn btn-slider-close">&#10005;</button>
            <div class="slider-wrapper photo-zoom-wrapper">
                {% for portfolio in project.projectportfolio_set.all %}
                    <div class="slider-slide photo-zoom-slide">
                        <img class="photo-zoom-img" src="{{ portfolio.photo.url }}"
                             alt="{{ portfolio.alt }}">
                    </div>
                {% endfor %}
            </div>
            <div class="slider-button-prev zoom"></div>
            <div class="slider-button-next zoom"></div>
        </div>
    {% endcache %}

{% endblock %}